<?xml version="1.0" encoding="UTF-8"?>
<web-app id="file-upload" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<listener>
  		<listener-class>ConcurrentUserTracker</listener-class>
	</listener>

	<listener>
  		<listener-class>ImgCounter</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>youpload</servlet-name>
		<servlet-class>imguploader</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>gallery</servlet-name>
		<servlet-class>gallery</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>save</servlet-name>
		<servlet-class>save</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UsersStats</servlet-name>
		<servlet-class>UsersStats</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>youpload</servlet-name>
		<url-pattern>/yoUpload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gallery</servlet-name>
		<url-pattern>/gallery</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>save</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UsersStats</servlet-name>
		<url-pattern>/UsersStats</url-pattern>
	</servlet-mapping>

<context-param> 
    <description>Location to store uploaded file</description> 

    <param-name>img-upload</param-name> 
    <param-value>
         /usr/share/apache-tomcat-7.0.32/webapps/youpload/images/
     </param-value> 
</context-param>


  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/TestDB</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>


</web-app>
